@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: linear-gradient(45deg, blue, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    line-height: 1.5;
    text-indent: 15px;
}
#bev, #grid{
    margin: 3em;
}


p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}
#boottabla{
    margin-top: 2em;
}