@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: linear-gradient(45deg, blue, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    line-height: 1.5;
    text-indent: 15px;
}
#bev, #grid{
    margin: 3em;
}
section{
    margin-bottom: 5rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}
#boottabla{
    margin-top: 2em;
}
figure {
  text-align: center;
}

figcaption {
  font-weight: bold;
  font-size: 1.1rem;
}
figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
.menu a{
    margin: 0 10px;
}
#nagycim{
  font-size: 3.25vw;
}
#kisnagycim{
  font-size: 1.8vw;
}

#kiscimek{
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
} 